<div class="panel panel-success">
  <div class="panel-heading">
    <h4>Logic toolbox</h4>
  </div>
  <div class="panel-body">
    Choose the tool that you want to use
    <div class="row">
      <h4 class="main-title text-primary">Propositional Logic</h4>
      <div class="col-sm-6">
        <button class="btn btn-primary" ng-click="main.goToTruth()">Truth tables</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-primary" ng-click="main.goToFitch()">Fitch</button>
      </div>
    </div>
  </div>
</div>
