<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Truth Table</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-6 col-sm-offset-1">
            <strong>Semantic rules when you create a premise</strong>
            <div>Negation: (~) </div>
            <div>And: (&) </div>
            <div>Or: (|) </div>
            <div>Implication: (=>) </div>
            <div>Biconditional: (<=>)</div>
            <div>Example: ~(p&q)=>(~p|~q) </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Premise" ng-model="table.premise" />
        <span class="input-group-btn">
            <button class="btn btn-success" ng-click="table.build()"><span class="glyphicon glyphicon-pencil"></span> Build</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 truth-table">
        <table class="table table-bordered table-hover">
            <tr class="info">
                <th ng-repeat="headerItem in table.truthTable.header">
                    {{headerItem}}
                </th>
            </tr>
            <tr ng-repeat="items in table.truthTable.rows track by $index">
                <td ng-repeat="item in items track by $index">
                    {{item}}
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
